<div class="wrapper" id="app">
  <div class="player" ref="player">
    <div class="player__top">
      <div class="progress" ref="progress">
        <div class="progress__top">
          <div class="album-info" v-if="currentTrack">
            <div class="album-info__name">
              {{ currentTrack.artist }}
            </div>
            <div class="album-info__track">
              {{ currentTrack.name }}
            </div>
          </div>
          <div class="progress__duration">
            {{ duration }}
          </div>
        </div>
        <div class="progress__bar" @click="clickProgress">
          <div class="progress__current" :style="{ width : barWidth }"></div>
        </div>
        <div class="progress__time">
          {{ currentTime }}
        </div>
      </div>
      <div v-cloak></div>
    </div>
    <div class="player-controls">
      <div class="player-controls__item" @click="prevTrack">
        <svg class="icon">
          <use xlink:href="#icon-prev"></use>
        </svg>
      </div>

      <div class="player-controls__item -xl js-play" @click="play">
        <svg class="icon">
          <use xlink:href="#icon-pause" v-if="isTimerPlaying"></use>
          <use xlink:href="#icon-play" v-else></use>
        </svg>
      </div>

      <div class="player-controls__item" @click="nextTrack">
        <svg class="icon">
          <use xlink:href="#icon-next"></use>
        </svg>
      </div>
    </div>
    <include src="./partials/icons.html"></include>
  </div>
</div>